*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: black;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

/* -----------page 1 start ---------- */
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 15vh;
}

#page1 h1{
    font-size: 16vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 12.7vw;
    letter-spacing: -1.8vh;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: saddlebrown;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 2vw 1.4vw;
    background-color: black;
    color: #fff;
    font-size: 1.5vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

/* ----------page1 end------------ */

/* -----------page2 start ----------- */

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2 .elm{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elm img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* details inside image */
#page2 .elm .dets{
   height: 50px;
   width: 25vw;
   background-color: cornsilk;
   position: absolute;
   border-radius: 20px;
   overflow: hidden;
   z-index: 9;
}

#page2 #elm1 .dets{
    background-color: rgb(190, 252, 231);
} 

#page2 #elm2 .dets{
    background-color: rgb(249, 180, 212);
}

#page2 #elm3 .dets{
    background-color: rgb(231, 231, 205);
}

.dets-child1{
    height: 50px;
    width: 25vw;
    padding: 0px 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2 .elm .dets .shop-span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
}

#page2 .elm .dets .messina-span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
 }

.dets-child2{
    height: 35vh;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    /* background-color: cornsilk; */
    text-transform: uppercase;
}

.dets-child2 div{
    height: 100%;
    width: 45%;
}

.dets-child2 div span{
    font-size: 12px;
}


#page2 .elm .dets:hover{
     height: 230px;
     transition: 0.5s;
}


/* ----------page2 end------------ */

/* -----------page3 start------------- */

#page3{
    
}


/* ------------responsive----------- */

@media (max-width:600px){
    #page1{
        min-height: 70vh;
        padding: 0 3vw;
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15.4vw;
        line-height: 14vw;
        letter-spacing: -3px;
    }

    #video-container{
        height: 50vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 7vw 5.4vw;
        font-size: 3.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 1;
        scale: 1;
    }


    /* -----------page2 start ----------- */

#page2{
    width: 100%;
    background-color: red;
    position: relative;
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#page2 .elm{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3vw;
}

#page2 .elm img{
    scale: 1.1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

}

@media (max-width:450px){
    #page1{
        min-height: 60vh;
        padding: 0 2vw;
        padding-top: 25vh;
    }
    #page1 #video-container{
       height: 25vh;
    }
}

@media (max-width:300px){
    #page1{
        min-height: 65vh;
        padding: 0 2vw;
        padding-top: 25vh;
    }
    #page1 #video-container{
       height: 25vh;
    }
}